.leaflet-marker-icon {
	-moz-transition: -moz-transform 2s linear;
	-webkit-transition: -webkit-transform 2s linear;
	transition: transform 2s linear;
}

/* suppress marker animation when zooming in/out entire map */
.leafet-zoom-anim .leaflet-marker-icon {
	-webkit-transition-duration: 0;
}